{% extends "pizza/base.html" %}
{% load static %}

{% block content %}
<p>{{pizza}} Pizza</p>

<p>Toppings included on {{pizza}} pizza:</p>

<ul>
    {%for topping in toppings %}
    <li>

        <p>{{topping.name|linebreaks }}</p>

    </li>
    {% empty %}
    <li>There are no listed toppings for this pizza.</li>
    {% endfor %}
    {% if pizza.id == 1 %}
    <img src="{% static 'pizza/images/hawaiian2.jpg'%}">
    {% else %}
    <img src="{% static 'pizza/images/meatlovers.jpg'%}">
    {% endif %}
</ul>
<p>Customer Comments:</p>
<ul>
    {% for comment in comments %}
    <li>
        <p>{{comment.comment}}</p>
    </li>
    {% empty %}
    <li>No customer comments</li>
    {% endfor %}
</ul>
<a href="{% url 'pizza:comments' pizza.id %}">Leave a Comment</a>

{% endblock content %}